# BeamBridge Configuration File
# Developed by Jacob Kauffmann at Nerd on the Street

# Place options directly after = sign with no spaces in between.

# Mixer Channel ID to join (go to https://mixer.com/api/v1/channels/<yourchannel> and look for the "id" value)
## Make sure to get the ID of the channel you are joining, NOT of the bot's channel!
mixerChannelIdJoin=

# Mixer OAuth token for the bot account (go to https://dev.mixer.com/guides/chat/chatbot and look for "Click here to get your Token!" under Writing the Code.)
## Make sure to do this while signed in as your bot, NOT the channel you are joining!
mixerOauthToken=

# Mixer Client ID for the bot account (go to https://dev.mixer.com/guides/chat/chatbot and look for "Click here to get your Client ID!" under Writing the Code.
## Make sure to do this while signed in as your bot, NOT the channel you are joining!
mixerClientId=

# This is a comma-separated list of words to redact when bridging from IRC to Mixer.
# NOT YET IMPLEMENTED
mixerBannedWords=

# This is the nick that the IRC bot will use.
ircBotName=BeamBridge

# This is the server that the IRC bot will connect to.
ircServer=

# This is the channel that the IRC bot will connect to (WITH a #)
ircChannel=#

# This is the message that will be sent in the Mixer chat when a user joins. %s is a placeholder for the user's name.
mixerUserJoinMessage=Welcome to the stream, %s!
